body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  height: 100vh;
  background-color:burlywood;
  overflow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3 {
  font-size: 1.9em;
  font-style: italic;
  text-decoration: underline;
}

.calculator {
  width: 25%;
  height: 55%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.calculatorLightMode {
  background-color: #FC8D76;
}

.calculatorDarkMode {
  background-color: #3F3131;
}

.toggleButton {
  float: right;
  font-weight: bolder;
  margin-right: 9px;
  height: 20px;
  width: 40px;
  background-color: #F65353;
  border: 1px solid black;
  border-radius: 10px;
  font-style: italic;
  cursor: pointer;
}

input[type="text"] {
  text-align: right;
  display: flex;
  width: 90%;
  padding-right: 8px;
  margin: 25px auto 15px;
  height: 65px;
  font-weight: 700;
  border: 1px solid black;
  font-size: large;
}

.inputLightMode {
  background-color: #BCBABA;
}

.inputDarkMode {
  background-color: #786060;
  color: #fff;
}

.box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.boxMargin {
  margin-top: 2px;
}

.content, .content-box {
  display: flex;
  width: 20%;
  height: 50px;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.contentLightMode {
  background-color: #FCB0A0;
}

.contentDarkMode {
  background-color: #544242;
  color: #fff;
}

.calculator, .content, .content-box, .toggleButton {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.content-box {
  width: 43%;
}